@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Avenir LT W05_35 Light", Arial, Helvetica, sans-serif;
}

.section-padding {
  padding: 4rem 4rem;
}

.footer {
  background-color: #2d2d32;
}

.sb-footer {
  display: flex;
  flex-direction: column;
}

.sb-footer-links {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}

.sb-footer-links-div {
  width: 250px;
  margin: 1rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  color: white;
}

.sb-footer-links-div h4 {
  font-size: 18px;
  line-height: 17px;
  margin-bottom: 0.9rem;
  font-weight: 200;
}

.sb-footer-links-div p {
  font-size: 17px;
  line-height: 15px;
  margin: 0 0.5rem 0;
  padding: 0.3rem;
  cursor: pointer;
}

.sb-footer-below {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0.2rem;
}

.sb-footer-below-links {
  display: flex;
  flex-direction: row;
}

.sb-footer-below-links p {
  font-size: 17px;
  line-height: 15px;
  margin-left: 2rem;
  color: white;
  font-weight: 500;
}

hr {
  color: white !important;
  width: 100%;
  margin-bottom: 12px;
}

.sb-footer-copyright {
  font-size: 17px;
  line-height: 15px;
  color: rgb(255, 255, 255);
  font-weight: 500;
}

a {
  color: rgb(175, 175, 179);
  text-decoration: none;
}

.social-media {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.social-icon1 {
  height: 46px;
  width: 46px;
  border: 1px solid #333;
  margin: 0 0.45rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: #4481eb;
  font-size: 1.1rem;
  border-radius: 50%;
  transition: 0.3s ease;
}

.social-icon:hover {
  color: #4481eb;
  border-color: #4481eb;
}

@media screen and (max-width: 850px) {
  
}
