@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Avenir LT W05_35 Light", Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 20px 0;
  /*background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);*/
  /*background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  */
  background-color: rgb(249, 255, 255); /*#b7c9f2;*/
}

ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 21px;
  font-weight: 500;
  font-style: normal;
  flex-wrap: wrap;
  gap: 55px;
}

.logo {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.navigation {
  color: #111;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s ease;
}

.navigation:hover {
  color: #9195f6;
  text-decoration: underline;
}

.image-logo {
  width: 200px;
  height: 120px;
  margin-left: 20px;
}

.body-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 20px;
}

.image-container .finance {
  width: 500px;
  height: 330px;
}

.body-container .content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 50vw;
}

.body-container .content h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 60px;
  font-weight: 500;
}

.body-container .content h2 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 70px;
  font-weight: 500;
}

.body-container .content p {
  font-size: 20px;
  font-weight: 100;
  line-height: 25px;
}

.login {
  width: 100px;
  height: 40px;
  cursor: pointer;
  border: none;
  outline: none;
  color: white;
  background-color: rgb(98, 84, 243); /*#5995fd;*/
  font-family: cursive;
  font-size: 20px;
  transition: 0.3s ease;
  margin-right: 20px;
}

.login:hover {
  background-color: #9195f6;
  color: white;
}

.usericon,
.bc-agenticon {
  width: 450px;
  height: 450px;
}

.user-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.user-container .users h1,
.user-container .bcagent h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 50px;
  text-align: center;
  font-weight: 400;
  margin-top: 10px;
}
